<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Formulário de Treino</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Cadastrar Treino</ion-title>
      </ion-toolbar>
    </ion-header>

    <form [formGroup]="treinoForm" (ngSubmit)="onSubmit()">
      <ion-list>
        <ion-item>
          <ion-label position="floating">Selecione o Usuário</ion-label>
          <ion-select formControlName="usuarioId">
            <ion-select-option *ngFor="let usuario of usuarios" [value]="usuario.id">
              {{ usuario.nome }}
            </ion-select-option>
          </ion-select>
          <ion-note color="danger" *ngIf="treinoForm.get('usuarioId')?.invalid && treinoForm.get('usuarioId')?.touched">
            Usuário é obrigatório.
          </ion-note>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Tipo</ion-label>
          <ion-select formControlName="movimento">
            <ion-select-option *ngFor="let tipo of tiposMovimento" [value]="tipo">
              {{ tipo }}
            </ion-select-option>
          </ion-select>
          <ion-note color="danger" *ngIf="treinoForm.get('movimento')?.invalid && treinoForm.get('movimento')?.touched">
            Movimento é obrigatório.
          </ion-note>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Série</ion-label>
          <ion-select formControlName="serie">
            <ion-select-option *ngFor="let option of seriesOptions" [value]="option">
              {{ option }}
            </ion-select-option>
          </ion-select>
          <ion-note color="danger" *ngIf="treinoForm.get('serie')?.invalid && treinoForm.get('serie')?.touched">
            Série é obrigatória.
          </ion-note>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Repetições</ion-label>
          <ion-select formControlName="repeticoes">
            <ion-select-option *ngFor="let option of repeticoesOptions" [value]="option">
              {{ option }}
            </ion-select-option>
          </ion-select>
          <ion-note color="danger" *ngIf="treinoForm.get('repeticoes')?.invalid && treinoForm.get('repeticoes')?.touched">
            Repetições são obrigatórias.
          </ion-note>
        </ion-item>

        <ion-item>
          <ion-label>Dias da Semana</ion-label>
          <ion-list>
            <ion-item *ngFor="let dia of diasSemana">
              <ion-checkbox
                slot="start"
                [value]="dia"
                (ionChange)="onDiaChange(dia, $event)"
                [checked]="isDiaChecked(dia)"
              ></ion-checkbox>
              <ion-label>{{ dia }}</ion-label>
            </ion-item>
          </ion-list>
        </ion-item>

        <ion-button expand="full" type="submit"[disabled]="treinoForm.invalid">Cadastrar Treino</ion-button>
      </ion-list>
    </form>
  </div>
</ion-content>
