<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="navigateToHome()">
        <ion-icon name="home-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Formulário de Treino</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="treinoForm" (ngSubmit)="saveTreino()">
    <!-- Objetivo -->
    <ion-item>
      <ion-label>Objetivo</ion-label>
      <ion-segment formControlName="objetivo" value="perda_peso">
        <ion-segment-button value="perda_peso">
          Perda de Peso
        </ion-segment-button>
        <ion-segment-button value="ganho_muscular">
          Ganho Muscular
        </ion-segment-button>
      </ion-segment>
    </ion-item>

    <!-- Dias da Semana -->
    <ion-list>
      <ion-list-header>
        <ion-label>Dias de Treino</ion-label>
      </ion-list-header>
      <div style="display: flex; flex-wrap: wrap; gap: 10px; justify-content: center;">
        <ion-button *ngFor="let dia of diasDaSemana"
                    [color]="isDiaSelecionado(dia) ? 'primary' : 'light'"
                    (click)="toggleDia(dia)"
                    style="flex: 1 1 auto; min-width: 80px;">
          {{ dia }}
        </ion-button>
      </div>
    </ion-list>

    <!-- Exercícios por Dia -->
    <div style="display: flex; flex-direction: column; margin-top: 20px;">
      <div style="display: flex; flex-wrap: wrap; gap: 10px;">
        <div *ngFor="let dia of diasDaSemana" style="flex: 1 1 calc(33% - 10px);">
          <ion-card *ngIf="isDiaSelecionado(dia)">
            <ion-card-header>
              <ion-card-title>{{ dia }}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <div formArrayName="exercicios">
                <ul style="list-style-type: none; padding: 0;">
                  <li *ngFor="let exercicio of exerciciosControls.controls; let i = index" [formGroupName]="i">
                    <ion-item>
                      <ion-label>
                        <h2>{{ exercicio.get('movimento')?.value }}</h2>
                        <p>Séries: {{ exercicio.get('serie')?.value }}</p>
                        <p>Repetições: {{ exercicio.get('repeticoes')?.value }}</p>
                      </ion-label>
                    </ion-item>
                  </li>
                </ul>
              </div>
            </ion-card-content>
          </ion-card>
        </div>
      </div>
    </div>

    <!-- Botões -->
    <ion-button expand="full" type="submit">Salvar Treino</ion-button>
  </form>
</ion-content>
