
<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button id="popover-button">
        <ion-icon name="ellipsis-horizontal" slot="icon-only">
          <ion-popover trigger="popover-button" [dismissOnSelect]="true">
            <ng-template>
              <ion-content>
                <ion-list>
                  <ion-item [button]="true" [detail]="false" (click)="logout()">Sair</ion-item>
                  <ion-item [button]="true" [detail]="false">Cadastrar Treino</ion-item>
                </ion-list>
              </ion-content>
            </ng-template>
          </ion-popover>



        </ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Home Page
    </ion-title>
  </ion-toolbar>
</ion-header>


<p></p>
<ion-content>
  <!-- Campo de busca -->
  <ion-item>
    <ion-input
      [(ngModel)]="searchTerm"
      (ionInput)="filterUsers()"
      placeholder="Buscar usuários...">
    </ion-input>
  </ion-item>

  <!-- Mensagem e botão para cadastro de usuário -->
  <ion-item *ngIf="filteredUsuarios.length === 0" lines="full">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Nenhum usuário cadastrado.</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-button
          (click)="presentAlert()"
          expand="full"
          color="primary">
          Cadastrar Usuário
        </ion-button>
      </ion-card-content>
    </ion-card>
  </ion-item>

  <!-- Lista de usuários -->
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6" size-lg="4" *ngFor="let usuario of filteredUsuarios">
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{ usuario.nome }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>ID: {{ usuario.id }}</p>
            <p>Email: {{ usuario.email }}</p>
            <ion-button
              [routerLink]="['/lista-treino', usuario.id]"
              color="primary"
              class="m-2">
              Ver Treinos
            </ion-button>
            <ion-button
              (click)="deleteUser(usuario.id)"
              color="danger"
              class="m-2">
              Excluir
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
