<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-avatar>
        <img src="assets/img/imgExemploHomePage.jpg" alt="Foto do usuário" />
      </ion-avatar>
    </ion-buttons>
    
    <ion-title>
      <h6>Olá,</h6>
      <p>Rodrigro Gonçalves</p>
    </ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2>Bem-vindo à sua página inicial!</h2>
</ion-content>
