
<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button id="popover-button">
        <ion-icon name="ellipsis-horizontal" slot="icon-only">
          <ion-popover trigger="popover-button" [dismissOnSelect]="true">
            <ng-template>
              <ion-content>
                <ion-list>
                  <ion-item [button]="true" [detail]="false" (click)="logout()">Sair</ion-item>
                  <ion-item [button]="true" [detail]="false">Cadastrar Treino</ion-item>
                </ion-list>
              </ion-content>
            </ng-template>
          </ion-popover>
          

    
        </ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Home Page
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">


</ion-content>
