<ion-content [fullscreen]="true">

  <!-- Pergunta sobre CPF -->
  <div *ngIf="screen === 'cpf'">
    <img src="assets/img/infinity_logo.png">
    <h1 class="heading">🆔 Qual é o seu CPF?<br><br></h1>
    <br>
    <form>
      <ion-item lines="none">
        <fieldset class="input-item">
          <legend>CPF</legend>
          <ion-input type="text" placeholder="Digite seu CPF" [(ngModel)]="userData.cpf" name="cpf"></ion-input>
        </fieldset>
      </ion-item>
      <p></p>
      <ion-button class="next-button" expand="block" (click)="next('altura')">Próximo</ion-button>
    </form>
  </div>

  <!-- Pergunta sobre Altura -->
  <div *ngIf="screen === 'altura'">
    <img src="assets/img/infinity_logo.png">
    <h1 class="heading">📏 Qual é a sua altura?<br><br></h1>
    <br>
    <form>
      <ion-item lines="none">
        <fieldset class="input-item">
          <legend>Altura (cm)</legend>
          <ion-input type="number" placeholder="Digite sua altura" [(ngModel)]="userData.altura" name="altura"></ion-input>
        </fieldset>
      </ion-item>
      <p></p>
      <ion-button class="prev-button" expand="block" (click)="prev('cpf')">Voltar</ion-button>
      <ion-button class="next-button" expand="block" (click)="next('peso')">Próximo</ion-button>
    </form>
  </div>

  <!-- Pergunta sobre Peso -->
  <div *ngIf="screen === 'peso'">
    <img src="assets/img/infinity_logo.png">
    <h1 class="heading">🏋️ Qual é o seu peso?<br><br></h1>
    <br>
    <form>
      <ion-item lines="none">
        <fieldset class="input-item">
          <legend>Peso (kg)</legend>
          <ion-input type="number" placeholder="Digite seu peso" [(ngModel)]="userData.peso" name="peso"></ion-input>
        </fieldset>
      </ion-item>
      <p></p>
      <ion-button class="prev-button" expand="block" (click)="prev('altura')">Voltar</ion-button>
      <ion-button class="submit-button" expand="block" (click)="submit()">Finalizar</ion-button>
    </form>
  </div>

</ion-content>
